<!--**********************************
            Footer start
        ***********************************-->
<div class="footer">
  <div class="copyright">
    <p>Copyright &copy; Designed & Developed by
      <a href="/index.html">GYM - Website</a>
      2022</p>
  </div>
</div>
<!--**********************************
            Footer end
        ***********************************-->